<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="login.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="shortcut icon" href="img/gallery.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body>
    <div class="wrapper">
        <form method="post" action="{{ url_for('login') }}" autocomplete="off">
            <h1>Login</h1>
            <div class="input-box">
                <input type="text" id="username" placeholder="Username" name="username" required>
                <i class="bx bxs-user"></i>
            </div>

            <div class="input-box">
                <input type="password" id="password" placeholder="Password" name="password" required>
                <i class="bx bxs-lock-alt"></i>
            </div>

            <input style="display:none" type="text" name="fakeusername"/>
            <input style="display:none" type="password" name="fakepassword"/>

            <input type="submit" class="btn" value="Login">
            <div class="register-link">
                <p>Don't have an account? <a href="register1">Register</a></p>
            </div>

        </form>
    </div>

    <!-- <script>
        document.addEventListener("DOMContentLoaded", function () {
            var loginButton = document.querySelector(".btn");
            loginButton.addEventListener("click", validateLogin);
        });
    
        function validateLogin() {
            var emailInput = document.querySelector(".input-box input[type='text']");
            var passwordInput = document.querySelector(".input-box input[type='password']");
    
            var email = emailInput.value;
            var password = passwordInput.value;
    
            // Check if the username and password are correct
            if (email === "test123@gmail.com" && password === "password") {
                // Redirect to the desired page
                window.location.href = "main.html";
            } else {
                alert("Invalid Email or password. Please try again.");
            }
        }
    </script> -->
    
    
</body>

</html>